@if(type === 'google') {
<div className="user-info mt-5">
  <h2>User Information</h2>
  <div className="avatar-container">
    <img
      [src]="user.infoProvider?.google?.picture"
      alt="User Avatar"
      className="avatar"
    />
  </div>
  <div className="info-container">
    <p>Login: {{ user.infoProvider?.google?.email }}</p>
    <p>ID: {{ user.infoProvider?.google?.id }}</p>
    <p>Name: {{ user.infoProvider?.google?.name }}</p>
    <p>Verified email: {{ user.infoProvider?.google?.verified_email }}</p>
  </div>
</div>
} @else if (type === 'github') {
<div className="user-info mt-5">
  <h2>User Information</h2>
  <div className="avatar-container">
    <img
      [src]="user.infoProvider?.github?.avatar_url"
      alt="User Avatar"
      className="avatar"
    />
  </div>
  <div className="info-container">
    <p>Login: {{ user.infoProvider?.github?.login }}</p>
    <p>ID: {{ user.infoProvider?.github?.id }}</p>
    <p>Type: {{ user.infoProvider?.github?.type }}</p>
    <p>Followers: {{ user.infoProvider?.github?.followers }}</p>
    <p>Following: {{ user.infoProvider?.github?.following }}</p>
    <p>Public Repos: {{ user.infoProvider?.github?.public_repos }}</p>
  </div>
</div>
}@else {
<div className="user-info mt-5">
  <h2>User Information</h2>
  <div className="info-container">
    <p>ID: {{ user.id }}</p>
    <p>Login: {{ user.email }}</p>
    <p>Name: {{ user.name }}</p>
  </div>
</div>
}
