<section class="flex flex-column align-items-center justify-content-center">
  <p>dashboard works!</p>
  <div class="flex gap-2">
    <p-button
      (click)="getAllUsers()"
      (keydown)="getAllUsers()"
      class="block mt-4"
      size="large"
      label="Get all users"
    />
    <p-button
      (click)="logoutUser()"
      (keydown)="logoutUser()"
      class="block mt-4"
      size="large"
      label="Logout"
    />
  </div>
  <div class="flex gap-2">
    @if(userLogged && userLogged.provider === AuthenticationProviders.Github) {
    <app-profile
      [type]="AuthenticationProviders.Github"
      [user]="userLogged"
    ></app-profile>
    } @if(userLogged && userLogged.provider === AuthenticationProviders.Google)
    {
    <app-profile
      [type]="AuthenticationProviders.Google"
      [user]="userLogged"
    ></app-profile>
    } @if(userLogged) {
    <app-profile [type]="null" [user]="userLogged"></app-profile>
    }
  </div>
</section>
